/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #intro {
      margin-top: -58.59px;
      height: 50vh !important;
    }
  }
.navbar .nav-link {
    color: #fff !important;
  }
#pageName {
font-family: cursive;
font-weight: bold;
color: #ff7547;
}
